@model IEnumerable<RestaurantDTO.Response.CustomerReport>
<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <thead>
        <tr class="danger">
            <th sortcolumn="CustomerName" sortorder="DESC">
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>

            <th sortcolumn="RestaurantName" sortorder="DESC">
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th sortcolumn="OrderID" sortorder="DESC">
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th  sortcolumn="Location" sortorder="DESC">
                @Html.DisplayNameFor(model => model.Location)
            </th>

            <th sortcolumn="ItemQuantity" sortorder="DESC">
                @Html.DisplayNameFor(model => model.ItemQuantity)
            </th>

            <th sortcolumn="OrderAmount" sortorder="DESC">
                @Html.DisplayNameFor(model => model.OrderAmount)
            </th>
            <th  sortcolumn="OrderDate" sortorder="DESC">
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RestaurantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ItemQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">
                    No customer found for selected criteria
                </td>
            </tr>
        }
    </tbody>
</table>
