@model RestaurantDTO.Request.SearchReport

@{
    ViewData["Title"] = "SearchReport";
}

<h1>Search Report</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchReport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID"
                        class="form-control"
                        asp-items="@(new SelectList(Model.Customers,"CustomerID", "CustomerID"))">
                </select>                
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <select asp-for="CustomerName"
                        class="form-control"
                        asp-items="@(new SelectList(Model.Customers,"CustomerName", "CustomerName"))">
                </select>                
            </div>
            <div class="form-group">
                <label asp-for="RestaurantID" class="control-label"></label>
                <select asp-for="RestaurantID"
                        class="form-control"
                        asp-items="@(new SelectList(Model.Restaurants,"RestaurantID", "RestaurantName"))">
                </select>                
            </div>
            <div class="form-group">
                <label asp-for="DiningTableID" class="control-label"></label>
                <select asp-for="DiningTableID"
                        class="form-control"
                        asp-items="@(new SelectList(Model.DiningTables,"DiningTableID", "DiningTableID"))">
                </select>                
            </div>
            <div class="form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <select asp-for="OrderID"
                        class="form-control"
                        asp-items="@(new SelectList(Model.Orders,"OrderID", "OrderID"))">
                </select>                
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
                 

            <div class="form-group">
                <input type="submit" value="SearchReport" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

