@model IEnumerable<RestaurantDTO.Response.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Order</h1>
<div id="divMessage" style="display:none;"></div>
@if (TempData["Message"] != null && Convert.ToString(TempData["Message"]).ToLower().Contains("success"))
{
    <div class="alert alert-success">@Convert.ToString(TempData["Message"])</div>
}
else @if (TempData["Message"] != null)
{
    <div class="alert alert-danger">@Convert.ToString(TempData["Message"])</div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.OrderAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td style="text-align:right;width:40px;">
                    @Html.DisplayFor(modelItem => item.ItemQuantity)
                </td>
                <td style="text-align:right;width:40px;">
                    @Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
                   <td style="text-align:right;width:140px;">
                    @Html.DisplayFor(modelItem => item.OrderAmount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id = item.OrderID  }) |
                    <a href="javascript:void(0);" class="delete" id="@item.OrderID" 
                    data-href="@Url.Action("Delete", "Order", new { lineid = item.OrderID })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
<script type="text/javascript">
    $(document).on("click", ".delete", function () {

             if (confirm('Are you sure you want to delete?')) {

                 $.ajax({
                     url: $(this).attr("data-href"),
                     type: 'POST',
                     data: { id: $(this).attr("id") },
                     cache: false,
                     async: false,
                     success: function (result) {
                        if (result.isSuccessFull == true || result.isSuccessFull == 'true') {
                            $('#divMessage').show();
                            $('#divMessage').html('Order deleted successfully');

                            setTimeout(function () {
                                  location.reload(true);
                                }, 100);
                         } else if (result.ErrorMessage != null) {
                            $('#divMessage').show();
                            $('#divMessage').html(result.ErrorMessage);
                         }
                     }
                 });
                 $('.modaldivpleasewait').hide();
             }
         });
</script>
}
